/* celular */
@media (max-width: 991px) {

	.logo-menu {
		display: none;
		background-image: url(https://i.imgur.com/0tE3LJe.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 156px;
		height: 115px;
		padding: -10px;
		/* border: solid 10px green; */
	}

	.logo {
		display: flex;
		background-image: url(https://i.imgur.com/0tE3LJe.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 156px;
		height: 115px;
		/* border: solid 10px blue; */
	}

}

/* desktop */
@media (min-width: 992px) {

	.logo-menu {
		display: flex;
		background-image: url(https://i.imgur.com/0tE3LJe.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 156px;
		height: 115px;
		/* border: solid 10px red; */
	}
	
	.logo {
		display: none;
		background-image: url(https://i.imgur.com/0tE3LJe.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 156px;
		height: 115px;
		/* border: solid 10px orange; */
	}

}


.nav-link {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 800 !important;
	color: #133960 !important;
	font-size: large;
	padding-top: 40px;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');


.navbar {
	display: flex;
	background-color: white !important;
	width: 100%;
	justify-content: flex-end;
}

.alunos {
	display: flex;
	background-image: url(https://i.imgur.com/YJ64Kfj.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40vh;
}

#navbar1 {
	width: 10% !important;
}

.nav {
	display: flex !important;
	justify-content: flex-end !important;
}