/*----------------- configuração da página -----------------*/
.mainContato {
    width: 100vw;
    height: 100vh;
    background-color: white;
}
/*----------------------------------------------------------*/

/*--------------------- bloco de texto ---------------------*/
.textContato {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #12385D;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
/*---------------------------------------------------------*/

/*--------------------------- Independentes de Media Query --------------------------------*/

.corpoDaAreaDeContato {
    display: grid;
    background-color: white; 
    height: 50vh;
}

.formularioDeContato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    padding-right: 3vw;
    color: white;
    /* border: solid 3px black; */
    /* margin-top: 5vh; */
    /* margin-bottom: 5vh; */
}

.contatoBlocoImagem {
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagemDeContato {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    background-image: url(https://i.imgur.com/ppwlCAJ.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*----------------- Itens do Formulário -----------------*/

#nome {
    padding-top: 4px;
}

.itemDoForm {
    font-weight: bold;
    color: #12385D;
    margin-bottom: 5px;
    font-size: larger;
}

.caixaDoForm {
    border: none;
    height: 4vh;
    padding-left: 6px;
    background-color: #f7f7f7;
    /* border: solid 1px #12385D; */
}

#formBotaoRedimensionavel {
    /* margin-bottom: 5px; */
    padding-top: 5px;
    min-height: 4vh;
    max-height: 17vh;  
    /* color: red; */
    font-weight: bold;
    /* font-size: larger; */
}

.botaoEnviarContato {
    background-color: #12385D;
    padding: 5px;
    border: none;
    width: 100px;
    font-weight: bold;
    color: #f7f7f7;  
}

/*-------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/




/*------------------------------ Media Query pra Desktop -----------------------------------*/

@media only screen and (min-width: 1024px) {
    .corpoDaAreaDeContato {
        grid-template-columns: 1fr 1fr;
    }
   

    .formularioDeContato {
        align-items: flex-end;
        padding-right: 3vw;
    }

    .contatoBlocoImagem {
        justify-content: flex-start;
    }

    .imagemDeContato {
        /* flex-direction: column; */
        /* justify-content: center; */
        height: 50vh;
        width: 25vw;
    }

        /*----------------- Itens do Formulário -----------------*/


    .caixaDoForm {
        width: 20vw;
    }

    #formBotaoRedimensionavel {
        max-width: 20vw;
        min-width: 20vw;  
    }

}
/*---------------------------------------------------*/

/*----------------------------------------------------------------------------------------*/


/*----------------- Media Query pra Celular  -----------------*/
@media only screen and (max-width: 480px) {
    
    .corpoDaAreaDeContato {
        grid-template-columns: 1fr;
    }
   

    .formularioDeContato {
        align-items: center;
    }

    .contatoBlocoImagem {
        justify-content: center;
    }

    .imagemDeContato {
        /* flex-direction: column; */
        /* justify-content: center; */
        height: 100vh;
        width: 100vw;
    }

    /*----------------- Itens do Formulário -----------------*/


    .caixaDoForm {
        width: 80vw;
    }

    #formBotaoRedimensionavel {
        max-width: 80vw;
        min-width: 80vw;
    }
 
}
/*--------------------------------------------------------------------------------------------*/