@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-top: 3vh;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.container .background {
  width: 100vw;
  display: grid;
  box-shadow: 0 10px 20px 1px #788;
  transition: 0.5s;

}

.container .background-img {
  background: url("../../assets/background-img-2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
}

.container .slide {
  border-top: solid 15px darkorange;
  display: flex;
  align-self: flex-end;
  background-color: #14385C;
  width: 100%;
  height: 80px;
  justify-content: center;
}

.container .slide svg {
  width: 3em;
}

.container .items {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  text-align: justify;
  justify-content: center;
  background: url("../../assets/varios-triangulos.png") no-repeat;
  background-size: initial;
  background-position: bottom;
}

.container .items>div {
  flex: 1 1 500px;
  padding: 20px 60px;
  font-size: 20px;
  margin-bottom: 1em;
}

.container .items div:first-child {
  border-right: solid 5px darkorange;
}

.container .items>div:nth-last-child(1) {
  max-width: 450px;
  text-align: center;
}

.container .items>div h2 {
  text-align: center;
  margin-bottom: 1em;
  color: #14385C;
}

.container .items svg {
  fill: darkorange;
}

.container .items .texto {
  color: #555;
}

@media (max-width: 800px) {
  .container .items div:first-child {
    border: none;
  }

  .container .background-img {
    transition: 2s;
    height: 200px;
  }

  .container .slide {
    height: 60px;
    border-top: solid 10px darkorange;

  }

  .container .slide svg {
    width: 2em;
  }
}