header{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    position: relative;
    z-index: 10;
    background-color: white;
}

header:hover hr.separador{
    color: #003877;
    opacity: 0.8;
    width: 100%;
    transition: width 2s, opacity 1s;
}

hr.separador{
    align-self: center;
    opacity: 0;
    margin: 0;
    width: 1%;
    border: 0;
    border-bottom: 2px solid;
    transition: width 2s, opacity 1s;

}

.nav-mobile{
    display: none;
    justify-content: space-around;
    align-items: center;
}

img.logo {
    justify-content: flex-start;
    width: auto;
    height: 8.2vw;
    min-height: 1vw;
    max-height: 8.2vw;
}

.nav-mobile a.icon {
    display: flex;
    align-items: center;
    color: #003877;
    text-decoration: none;
    font-weight: 700;
}

.menu-hamburguer{
    display: inline-block;
    cursor: pointer;
}

.menu-hamburguer hr{
    margin: 5px;
    width: 30px;
    color: #003877;
    border: 0;
    border-bottom: 5px solid;
}

.bar1, .bar2, .bar3 {
    transition: 0.5s;
}
  
.girar .bar1 {
    transform: rotate(-48deg) translate(-9px, 5px);
}
  
.girar .bar2 {
    opacity: 0;
}
  
.girar .bar3 {
    transform: rotate(48deg) translate(-9px, -5px); ;
}

.menu-text{
    display: flex;
    flex-direction: column;
}

.menu-text span{
    font-size: 4vw;
}

.menu-text hr{
    margin: 0;
    color: #003877;
    border: 0;
    border-bottom: 2px solid;
    opacity: 0;
    width: 100%;
    transition: width 0.5s, opacity 0.5s;
    align-self: center;
}

.top-nav a:hover, a.icon:hover .menu-hamburguer hr, figure:hover .menu-hamburguer hr{
    color: #fc7c11;
}

.top-nav{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
}

.top-nav a{
    display: flex;
    flex-direction: column;
    color: #003877;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.45vw;
    align-items: center;
}

.top-nav a>p {
    margin: 0;
    width: min-content;
}

.top-nav>a:hover hr.extend, .container-dropdown:hover hr.extend, a.icon:hover .menu-text hr{
    color: #fc7c11;
    opacity: 1;
    width: 90%;
    transition: width 1s, opacity 1s;
}

hr.extend{
    margin: 4px 0px;
    opacity: 0;
    width: 1%;
    border: 0;
    border-bottom: 2px solid;
    transition: width 0.5s, opacity 0.5s;
}

hr{
    border: 0;
    border-bottom: black 1px solid;
    width: 100%;
}

.top-nav figure{
    display: none;
    order: -1;
}

.container-dropdown{
    position: relative;
}

.dropdown{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 180%;
    box-shadow: 0 4px 6px 0px #9e9e9efc;
    z-index: 1;
}

.dropdown a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #003877;
    background-color: ghostwhite;
    width: 100%;
    padding: 10px 0px;
}

.dropdown a:hover{
    background-color: coral;
    color: white;
}


header figure{
    margin: 0;  
}

.displayFlex{
    display: flex;
}

@media (max-width: 450px){
    img.logo {
        min-height: 20vw;
        max-height: 8.2vw;
    }

    header figure{
        margin: 15px 0px 10px 0px;
    }

    .nav-mobile{
        display: flex;
    }

    .top-nav{
        flex-direction: column;
        margin-top: 20px;
    }

    .top-nav a{
        font-size: 4vw;
    }

    .top-nav a>p{
        width: fit-content;
        line-height: 2em;
    }

    .dropdown{
        position: initial;
        width: 100%;
    }
    
    .dropdown a{
        background-color: coral;
        color: white;
    }
}

@media (min-width: 451px) and (max-width: 850px){

    .top-nav{
        display: flex;
    }
    .top-nav figure{
        display: block;
        order: -1;
    }

}

@media (min-width: 851px) {

    .top-nav{
        display: flex;
    }

    .top-nav figure{
        display: block;
        order: 0;
    }

}