footer {
    background-color: #12385D;
    display: flex;
    justify-content: flex-end;
}

.logoinsta {
    width: 22px;
    height: 22px;
}

.logoface {
    width: 22px;
    height: 22px;
}

.logoemail {
    width: 22px;
    height: 20px;
}

.insta {
    color: white;
    margin-bottom: 5px;
}

.face {
    color: white;
    margin-bottom: 5px;
}

.email {
    color: white;
}

.text {
    color: white;
    margin-bottom: 5px;
}

.text {
    list-style: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}

.icons {
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    vertical-align: middle;
}

.titulo {
    font-weight: bold;
}

.rua {
    margin-top: 4px;
}

.estado {
    margin-top: 4px;
}

.cep {
    margin-top: 4px;
}

.coruja {
    /* background: url("coruja.png") no-repeat; */
    background-size: contain;
    justify-content: end;
    width: 100px;
    height: 100px;
    margin: 5px 5px;
}

.icons svg {
    vertical-align: middle;
}

.centro {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.container-img {
    justify-content: end;
}

@media (max-width: 500px) {
    footer {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text {
        text-align: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .icons {
        margin-right: 30px;
    }
}

@media (min-width: 500px) and (max-width: 1024px) {
    footer {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text {
        text-align: center;
    }
    .icons {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/* footer {
    margin-top: auto;
} */